---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&page=1&per_page=2&q=stars:%3E1000&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=stars%3A%3E1000&sort=stars&order=desc&page=2&per_page=2>;
        rel="next", <https://api.github.com/search/repositories?q=stars%3A%3E1000&sort=stars&order=desc&page=500&per_page=2>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1742265037'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":52949,"incomplete_results":false,"items":[{"id":28457823,"node_id":"MDEwOlJlcG9zaXRvcnkyODQ1NzgyMw==","name":"freeCodeCamp","full_name":"freeCodeCamp/freeCodeCamp","private":false,"owner":{"login":"freeCodeCamp","id":9892522,"node_id":"MDEyOk9yZ2FuaXphdGlvbjk4OTI1MjI=","avatar_url":"https://avatars.githubusercontent.com/u/9892522?v=4","gravatar_id":"","url":"https://api.github.com/users/freeCodeCamp","html_url":"https://github.com/freeCodeCamp","followers_url":"https://api.github.com/users/freeCodeCamp/followers","following_url":"https://api.github.com/users/freeCodeCamp/following{/other_user}","gists_url":"https://api.github.com/users/freeCodeCamp/gists{/gist_id}","starred_url":"https://api.github.com/users/freeCodeCamp/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/freeCodeCamp/subscriptions","organizations_url":"https://api.github.com/users/freeCodeCamp/orgs","repos_url":"https://api.github.com/users/freeCodeCamp/repos","events_url":"https://api.github.com/users/freeCodeCamp/events{/privacy}","received_events_url":"https://api.github.com/users/freeCodeCamp/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/freeCodeCamp/freeCodeCamp","description":"freeCodeCamp.org''s
        open-source codebase and curriculum. Learn to code for free.","fork":false,"url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp","forks_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/forks","keys_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/keys{/key_id}","collaborators_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/teams","hooks_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/hooks","issue_events_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/issues/events{/number}","events_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/events","assignees_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/assignees{/user}","branches_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/branches{/branch}","tags_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/tags","blobs_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/refs{/sha}","trees_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/trees{/sha}","statuses_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/statuses/{sha}","languages_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/languages","stargazers_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/stargazers","contributors_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/contributors","subscribers_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/subscribers","subscription_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/subscription","commits_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/commits{/sha}","git_commits_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/git/commits{/sha}","comments_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/comments{/number}","issue_comment_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/issues/comments{/number}","contents_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/contents/{+path}","compare_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/compare/{base}...{head}","merges_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/merges","archive_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/downloads","issues_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/issues{/number}","pulls_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/pulls{/number}","milestones_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/milestones{/number}","notifications_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/labels{/name}","releases_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/releases{/id}","deployments_url":"https://api.github.com/repos/freeCodeCamp/freeCodeCamp/deployments","created_at":"2014-12-24T17:49:19Z","updated_at":"2025-03-18T02:27:26Z","pushed_at":"2025-03-17T18:57:18Z","git_url":"git://github.com/freeCodeCamp/freeCodeCamp.git","ssh_url":"git@github.com:freeCodeCamp/freeCodeCamp.git","clone_url":"https://github.com/freeCodeCamp/freeCodeCamp.git","svn_url":"https://github.com/freeCodeCamp/freeCodeCamp","homepage":"https://contribute.freecodecamp.org","size":492089,"stargazers_count":413453,"watchers_count":413453,"language":"TypeScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":39404,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":254,"license":{"key":"bsd-3-clause","name":"BSD
        3-Clause \"New\" or \"Revised\" License","spdx_id":"BSD-3-Clause","url":"https://api.github.com/licenses/bsd-3-clause","node_id":"MDc6TGljZW5zZTU="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["careers","certification","community","curriculum","d3","education","freecodecamp","hacktoberfest","javascript","learn-to-code","math","nodejs","nonprofits","programming","react","teachers"],"visibility":"public","forks":39404,"open_issues":254,"watchers":413453,"default_branch":"main","score":1.0},{"id":132750724,"node_id":"MDEwOlJlcG9zaXRvcnkxMzI3NTA3MjQ=","name":"build-your-own-x","full_name":"codecrafters-io/build-your-own-x","private":false,"owner":{"login":"codecrafters-io","id":58904235,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU4OTA0MjM1","avatar_url":"https://avatars.githubusercontent.com/u/58904235?v=4","gravatar_id":"","url":"https://api.github.com/users/codecrafters-io","html_url":"https://github.com/codecrafters-io","followers_url":"https://api.github.com/users/codecrafters-io/fol[...]
